.calculator {
    display:grid;
    background-color: teal;
    grid-template-areas: 
        'top top top top'
        'bottom bottom bottom bottom';
    width: 25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
    border-radius: 25px;
}
.display {
    grid-area: top;
    padding: 20px;
    text-align: center;
    background-color: azure;
    border: solid;
    border-radius: 25px 25px 1px 1px;
}
input {
    text-align: right;
    border: solid;
    border-radius: 25px;
}
.buttons {
    grid-area: bottom;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: azure;
    cursor: pointer;
    grid-gap: 5px;
    padding: 5px;
    border: solid;
    border-color: azure black black black;  
    border-radius: 1px 1px 25px 25px; 
}
.button {
    border: 1px solid;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    background-color:teal;
    font-weight: bold;    
}
.button:hover {
    background-color: yellow;
}
#equals {
    background-color: goldenrod;
}
#equals:hover {
    background-color: yellow;
}