.calculator {
    display:grid;
    background-color: cadetblue;
    grid-template-areas: 
        'top top top top'
        'bottom bottom bottom bottom';
    width: 25%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 10px;
}
.display {
    grid-area: top;
    padding: 20px;
    text-align: center;
    background-color: azure;
    border: solid;
}
input {
    text-align: right;
    border: solid;
}
.buttons {
    grid-area: bottom;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: azure;
    cursor: pointer;
    grid-gap: 5px;
    padding: 5px;
    border: solid;   
}
.button {
    border: 1px solid;
    padding: 20px;
    text-align: center;
    
}
.button:hover {
    background-color: yellow;
}

